.file-upload {
  &__dropzone {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__preview {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  // fix ad-blockers
  img[src*='blob:'] {
    display: block !important;
  }
}
