@import '../../theme/index';

.exchange-modal {
  .modal-content {
    border-radius: 0;
  }
  .modal-footer {
    border-width: 2px;
  }
  .modal-body {
    display: flex;
    padding: 0;
  }
  &__header {
    text-align: center;
    color: $white;
    padding: 1.5rem 0;
    background-image: url('/assets/img/header-modal.png');
    background-position: center center;
    background-size: cover;
  }
  &__content {
    &__header {
      font-size: 11px;
      text-transform: uppercase;
      color: $gray-500;
    }
    &__text {
      text-align: center;
      font-size: 14px;
    }
  }
  &__offer {
    width: 60%;
    background-color: $gray-200;
    padding: 1.5rem;
  }
  &__item-for-exchange {
    width: 40%;
    padding: 1.5rem;
  }
  &__title {
    font-size: 20px;
  }
  &__subtitle {
    opacity: 0.7;
    margin-bottom: 0;
  }
}
