@import '../../../theme/index';

.profile-section {
  margin-bottom: 10px;

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 60px 0;
  }

  &__placeholder {
    margin: 1rem 0 2rem;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__button {
    .icon {
      margin-right: 0.5rem;
    }
  }
}
