@import '../../theme/index';
.about {
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    background-color: white;

    &--edit {
      padding: 25px 30px 15px;
      background-color: white;
    }

    &--editing {
      padding: 0.5rem 0.75rem;
      width: 100%;
      outline: none;
      font-size: $small-font-size;
      font-weight: 500;
      letter-spacing: 0.5px;
      resize: none;
    }
    &--invalid {
      border: 2px solid $red;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }

    &__content {
      overflow-wrap: break-word;
      word-break: break-word;
      align-self: flex-start;
    }
    &__more {
      margin-right: auto;
    }
    &__error {
      font-size: 12px;
      color: $red;
    }
  }
}
