@import '../../theme/index';
.all-services {
  &__top-line {
    display: flex;
    justify-content: space-between;
  }
}

.profile-services {
  background-color: $white;
  padding-bottom: 2rem;
  &__title {
    border-bottom: 2px solid $gray-100;
    padding: 1.25rem 1.5rem;
  }

  &__pagination {
    padding: 1.25rem 1.5rem 0;
  }

  &__content {
    padding: 1.25rem 1.5rem 0;

    min-height: 400px;
    position: relative;
  }
}
