@import '../../../theme/index';

.empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__text {
    margin: 1rem;
    color: $gray-600;
  }
}
