@import '../../theme/index';

.exchange-step2 {
  height: 100%;
  padding: 1.5rem;
  background-color: $gray-100;
  border-right: solid 2px $gray-200;
}

.exchange-step2-list {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;

  &__item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: $white;
    border: solid 1px $gray-400;
    cursor: pointer;

    &__thumbnail {
      flex: 0 0 auto;
      width: 72px;
      height: 72px;
      background-size: cover;
      background-position: center center;
    }
    &__info {
      flex: 0 1 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      margin-bottom: 0;
      padding: 0 1rem;
      font-size: 14px;
      word-break: break-all;
      word-break: break-word;
    }
    &__price {
      display: flex;
      flex-direction: column;
      padding: 0 0.5rem 0 0;
      text-align: right;

      &__value {
        font-size: 18px;
        font-weight: $font-weight-bold;
      }

      &__label {
        font-size: 10px;
      }
    }
  }
}
