@import '../../theme/index';

.user-info {
  margin-right: 20px;
  &__avatar {
    &.show {
      .user-info__toggle.dropdown-toggle {
        &:focus, &:active {
          border: none;
          background: none;
          box-shadow: none;
        }
      }
    }
  }
  .btn-secondary {
    border: none !important;
    background: none !important;
  }
  &__toggle {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    &:hover, &:focus, &:active {
      background: none;
      box-shadow: none;
      border: none;
    }
    &:after {
      border-top: .25em solid;
      border-right: 0.25em solid transparent;
      border-left: .25em solid transparent;
    }
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    @include text('body');
    $size: 38px;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: $size;
    background-color: $color-secondary-1;
  }
  .user-info__dropdown {
    left: 20px;
  }
}
