@import '../../../theme/index';

.user-link {
  display: flex;
  align-items: center;
  &__username {
    margin: -5px 0 0 1.2rem;
    color: $blue;
    font-weight: 600;
    font-size: $font-size-sm;

    &:before {
      content: '@';
    }
  }
}
