@import '../../../theme/index';

.user-link {
  &__username {
    margin: 0 0 0 0.5rem;
    color: $blue;
    font-weight: 600;
    font-size: $font-size-sm;

    &:before {
      content: '@';
    }
  }
}
