@import '../../theme/index';

.user-menu {
  & > &__toggle {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active {
      background: none;
      box-shadow: none;
      border: none;
    }
    &:after {
      vertical-align: middle;
    }
  }

  &__dropdown {
    left: 20px;
    &.dropdown-menu {
      padding: 0;
      .dropdown-item {
        padding: 0.5rem 1.5rem;
        outline: none;
      }
    }

    .dropdown-divider {
      margin: 0;
    }

    &__link {
      .icon,
      small {
        display: inline-block;
        vertical-align: bottom;
      }
      small {
        margin-left: 0.5rem;
      }
    }
  }
}
