@import '../../theme/index';

.sign-up {
  &__form {
    position: relative;
    margin: 6.5rem 11.5rem 0;
    padding: 7.188rem 7.188rem 2.313rem;
    background-color: $white;
    text-align: left;
    font-weight: $btn-font-weight;
    @include tablet {
      margin: 6.5rem 3rem 0;
      padding: 7.188rem 2.5rem 2.313rem;
    }
    @include mobile {
      margin: 6.5rem 0.5rem 0;
      padding: 7.188rem 0.625rem 2.313rem;
    }
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &__title {
      margin-top: 2rem;
    }
    &__description {
      color: $gray-600;
      font-size: 13px;
    }
    &__name {
      margin-top: 1.5rem;
    }
    &__photo {
      border-radius: 100%;
      width: 162px;
      height: 162px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      color: $white;
      fill: $white;
      background-color: $gray-700;

      &__caption {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $font-size-sm;
        background-color: $orange;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__footer {
    background-color: $white;
    border-top: 1px solid $gray-400;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
  }
}
