@import '../../theme/index';

.sign-up {
  &__form {
    position: relative;
    margin-top: 6.5rem;
    margin-bottom: 1.5rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background-color: $white;
    text-align: left;
    font-weight: $btn-font-weight;

    @include media-breakpoint-up(xs) {
      //default styles
    }
    @include media-breakpoint-up(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media-breakpoint-up(md) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include media-breakpoint-up(xl) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &__title {
      margin-top: 2rem;
    }
    &__description {
      color: $gray-600;
      font-size: 13px;
    }
    &__name {
      margin-top: 1.5rem;
    }
    &__photo {
      border-radius: 100%;
      width: 162px;
      height: 162px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      color: $white;
      background-color: $gray-700;

      &__caption {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $font-size-sm;
        background-color: $orange;
      }
    }
  }
  &__footer {
    background-color: $white;
    border-top: 1px solid $gray-400;
    text-align: center;
    padding: 1rem 0;
  }
}
