@import '../../../theme/index';

.gallery {
  .carousel {
    height: 400px;
    margin-bottom: 1rem;
    .carousel-inner {
      .carousel-item {
        height: 100%;

        div {
          width: 100%;
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      height: 100%;
    }
  }
  .gallery-previews {
    display: flex;
    flex-wrap: wrap;
    &__item {
      position: relative;
      width: 50px;
      height: 50px;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      &--active {
        cursor: inherit;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: $gray-700;
        }
      }
    }
    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.5;
      }

      &__icon {
        color: $white;
        z-index: 1;
      }
    }
  }
}

.gallery-video-popup {
  &__header {
    padding: 0;
    padding-right: 10px;
    border: none;

    .close {
      outline: none;
    }
  }

  &__body {
    display: flex;
    padding-top: 0;
  }

  &__frame {
    width: 100%;
    height: 320px;
    border-radius: 5px;
  }
}
