@import '../../theme/index';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background: #000;
  color: #fff;

  // white header for signup page
  &__plain {
    background: #fff;
    border-bottom: solid 1px $gray-400;
  }

  &__logo {
    user-select: none;

    &__link {
      display: inline-block;
    }

    &__img {
      vertical-align: top;
      height: 33px;
      margin-left: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__user-info {
    margin: 0 1.5rem;

    &__toggle {
      padding: 0;
      border: none;
      background: none;
      box-shadow: none;
      &:hover,
      &:focus,
      &:active {
        background: none;
        box-shadow: none;
        border: none;
      }
      &:after {
        vertical-align: middle;
      }
    }

    &__dropdown {
      left: 20px;

      &__link {
        .icon,
        small {
          display: inline-block;
          vertical-align: bottom;
        }
        small {
          margin-left: 0.5rem;
        }
      }
    }
  }

  &__signin {
    .btn {
      background: rgba(255, 255, 255, 0.4);
      color: $white;
      font-weight: 400;
    }
  }

  &__nav {
    &__separator {
      margin: 0 0.75rem;
      opacity: 0.5;
    }

    &__item {
      color: $white;
      font-weight: 500;
      font-size: $font-size-base;
      text-decoration: none;

      &:hover,
      &:active,
      &:visited {
        color: $white;
      }

      &:hover {
        text-decoration: underline;
      }

      &--active {
        opacity: 0.8;
      }
    }
  }
}
