@import '../../theme/index';

.notification {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px $gray-400;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 200ms ease-out;
  user-select: none;

  &:hover {
    background: $gray-100;
  }

  &--read {
    background: rgba($gray-100, 0.3);
    cursor: initial;
    pointer-events: none;

    &:hover {
      background: inherit;
    }

    & > * {
      opacity: 0.4;
    }
  }

  &__images {
    flex: 0 0 auto;
    position: relative;
    padding: 0 6px 6px 0;

    & > * {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__big-img {
    $size: 82px;
    width: $size;
    height: $size;
  }

  &__small-img {
    $size: 42px;
    width: $size;
    height: $size;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    margin-left: 1rem;
    font-size: 14px;
  }

  &__highlight {
    color: $blue;
    font-weight: 500;
  }
}
