/*
  ---------- FONTS ----------
*/

$fontFamily: 'Raleway', Helvetica, Arial, sans-serif;

// Typography styles (as defined in Invision)
$typography: (
  mega: (72px, 96px),
  large: (48px, 64px),
  display: (36px, 54px),
  heading: (24px, 36px),
  title: (20px, 36px),
  subheading: (16px, 32px),
  body: (15px, 28px),
  caption: (14px, 24px),
  small: (13px, 20px),
  label: (12px, 1.33)
);

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;

/*
  ---------- COLORS ----------
*/

$color-primary-1: #2f20ca;
$color-primary-2: #505cd2;
$color-primary-3: #756bde;
$color-primary-4: rgba(47, 32, 202, 0.5);

$color-secondary-1: #e0610e;
$color-secondary-2: #f4863e;
$color-secondary-3: #ffa468;
$color-secondary-4: #ffb98b;
$color-secondary-5: #ffdbc4;

$color-black-0: #000000;
$color-black-1: #0f0f0f;
$color-black-2: #858585;
$color-black-3: #a5a5a5;
$color-black-4: #cacaca;
$color-black-5: #f3f3f3;
$color-white: #fff;
$color-overlay: rgba(0, 0, 0, 0.4);

$color-accent-error: #f12545;
$color-accent-pending: #fad778;
$color-accent-rejected: #e0610e;
$color-accent-active: #5ccb97;
$color-accent-progress: #528bff;

/*
  ---------- OTHERS ----------
*/

$borderRadius: 4px;
