@import '../theme/bootstap-vars-override';

.form-group {
  label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .form-text {
    margin-bottom: 10px;
  }
  .invalid-feedback {
    display: block;
  }
}

.form-control {
  font-size: 13px;
}

.checkbox-field {
  &__checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid $gray-400;
    &:after {
      content: ' ';
      position: absolute;
      left: -5px;
      top: 1px;
      width: 6px;
      height: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-left: 12px;
      vertical-align: middle;
    }
  }
  &__label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;
    .field-checkbox__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        & ~ .checkbox-field__checkmark {
          border-color: $black;
          background-color: $black;
        }
      }
    }
  }
}

.radio-field {
  &__checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid $gray-400;
    border-radius: 50%;
    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $black;
    }
  }
  &__label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;
    .radio-field__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        & ~ .radio-field__checkmark {
          &:after {
            display: block;
          }
        }
      }
    }
  }
}
