.loader {
  border: 16px solid $gray-400;
  border-top: 16px solid $blue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 2;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
