$loader-translate: translate(-50%, -50%);

.loader {
  $size: 3rem;
  $border-width: 0.25rem;

  border: $border-width solid $gray-400;
  border-top: $border-width solid $blue;
  border-radius: 50%;
  width: $size;
  height: $size;
  z-index: 2;
  animation: spin 600ms linear infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: $loader-translate;
}

@keyframes spin {
  0% {
    transform: $loader-translate rotate(0deg);
  }
  100% {
    transform: $loader-translate rotate(360deg);
  }
}
