@import '../theme/index';

.app-container {
  &__content {
    padding: 1rem;
  }
}

.base-link {
  @include text('small');
  color: $color-primary-1;
  font-weight: $fontWeight-semibold;
  &:hover {
    text-decoration: underline;
  }
}
